.wrap{
    padding: 20px 20px 20px 220px;
}

h1{
    font-size: 22px;
}

h2{
    font-size: 20px;
}

h3{
    font-size: 18px;
}

h4{
    font-size: 16px;
}

.heading{
    margin-bottom: 40px;
}

.heading h1, .heading h2{
    margin: 0;
}

.heading h1{
    font-size: 26px;
    margin-bottom: 6px;
}

.heading h2{
    font-size: 16px;
}

#side-nav{
    position: fixed;
    margin-left: -200px;
    width: 200px;
}

#side-nav > ul > li:not(.active) > ul{
    display: none;
}

#side-nav > ul li a{
    padding: 4px 12px;
    border-left: 4px solid transparent;
}

#side-nav > ul li.active > a{
    border-left-color: #fa982c;
}

#side-nav > ul > li > ul.nav a{
    padding-left: 30px;
}

section{
    margin-bottom: 120px;
}

section h3, section h4{
    padding: 8px 0;
}

section .item{
    margin-bottom: 80px;
}

pre{
    border: none;
    background: transparent;
    padding: 0;
    border-radius: 0;
}

pre table tr td:first-child{
    padding-right: 12px;
    opacity: 0.4;
}

.question{
    font-style: italic;
    color: #555555;
    position: relative;
    padding: 30px 20px 20px 20px;
    background: #f4f4f4;
    margin: 0 0 20px 0;
}

.question:before{
    content: 'Task';
    display: block;
    position: absolute;
    top: 8px; left: 8px;
    font-size: 12px;
    text-transform: uppercase;
    font-style: normal;
    color: #aaa;
}

.btn{
    border-radius: 0;
}