<div class="question">
Suppose you want to password protect a directory, /var/www/secure_site/, for
internet-based access using Apache, how would you do that?
</div>

<p>In <code>/var/www/secure_site/</code> create <code>.htpasswd</code> with contents:</p>

<pre><code>username1:password
username2:password</code></pre>

<p>Passwords are MD5 hash encoded</p>

<p>In <code>/var/www/secure_site/</code> create <code>.htaccess</code> with contents:</p>

<pre><code>AuthType Basic
AuthName "Restricted Content"
AuthUserFile /var/www/secure_site/.htpasswd
Require valid-user</code></pre>

<p>Another option is to edit apache's <code>.conf</code> file. But .htpasswd file still must be created.</p>

<p>Contents of <code>.conf</code> file:</p>

<pre><code>&lt;VirtualHost *:80&gt;
  ServerAdmin admin@domain.com
  DocumentRoot /var/www/html
  ErrorLog ${APACHE_LOG_DIR}/error.log
  CustomLog ${APACHE_LOG_DIR}/access.log combined

  &lt;Directory "/var/www/secure_site"&gt;
      AuthType Basic
      AuthName "Restricted Content"
      AuthUserFile /var/www/secure_site/.htpasswd
      Require valid-user
  &lt;/Directory&gt;
&lt;/VirtualHost&gt;</code></pre>