<div class="question">
Suppose you were to set up a Django installation and serve it via WSGI. Give an example of
the Apache settings for accomplishing this.
</div>

<p>Steps:</p>
<p><i>Assuming we have Ubunut 16 as an OS, and we are setting it up for Python 3</i></p>

<ol>
    <li>Connect to server via ssh.</li>
    <li>
        Install necessary packages:
        <pre><code>sudo apt-get update
sudo apt-get install python3-pip apache2 libapache2-mod-wsgi-py3</code></pre>
    </li>
    <li>
        Edit Apache's config file:
    <pre><code>sudo nano /etc/apache2/sites-available/000-default.conf</code></pre>

    <p>File contents:</p>

    <pre>&lt;VirtualHost *:80&gt;
    Alias /static /home/user_name/project_name/static
    &lt;Directory /home/user_name/project_name/static&gt;
        Require all granted
    &lt;/Directory&gt;

    &lt;Directory /home/user_name/project_name/project_name&gt;
        &lt;Files wsgi.py&gt;
            Require all granted
        &lt;/Files&gt;
    &lt;/Directory&gt;

    WSGIDaemonProcess project_name python-home=/home/user_name/project_name/project_name/venv python-path=/home/user_name/project_name
    WSGIProcessGroup project_name
    WSGIScriptAlias / /home/user_name/project_name/project_name/wsgi.py

&lt;/VirtualHost&gt;</pre>
        <p>
            Here we set up the alias for static files.
        </p>
        <p>We also must ensure that we have python virtual environment set up. If we don't then:</p>
        <pre><code>sudo pip3 install virtualenv</code></pre>
        <p>And then create an environment.</p>
        <pre><code>cd /home/user_name/project_name</code></pre>
        <pre><code>virtualenv venv</code></pre>
        <p>The location of the created virtual environment must be specified for <code>python-home</code> in <code>WSGIDaemonProcess</code>.</p>

        <p>Django project will be located in <code>/home/user_name/project_name</code>. We can get it there via git (or via ssh file upload).</p>
    </li>
    <li>Allow Apache process to receive traffic:
        <pre><code>sudo ufw allow 'Apache Full'</code></pre>
    </li>
    <li>Test Apache's config:
        <pre><code>sudo apache2ctl configtest</code></pre>
    </li>
    <li>Restart Apache:
    <pre><code>sudo systemctl restart apache2</code></pre></li>
</ol>
