<div class="question">
Suppose you have a mysql server installed. Make a new user, djangouser, and a database,
django, and give the user all rights to use the database. How would you do this?
</div>

<p>Steps:</p>

<ol>
    <li>Enter mysql cli as root user (or other user that has appropriate rights):
        <pre><code>mysql -u root -p</code></pre>
        <p>Enter password.</p>
    </li>
    <li>Create user <code>djangouser</code>:
        <pre><code>CREATE USER 'djangouser'@'localhost' IDENTIFIED BY 'here goes password';</code></pre>
    </li>
    <li>Create database <code>django</code>:
        <pre><code>CREATE DATABASE django;</code></pre>
    </li>
    <li>Grant privileges:
        <pre><code>GRANT ALL PRIVILEGES ON django . * TO 'djangouser'@'localhost';</code></pre>
    </li>
    <li>Update all the privileges just in case:
        <pre><code>FLUSH PRIVILEGES;</code></pre>
    </li>
</ol>