<div class="question">
Suppose you want to automatically modify incoming requests to an Apache site. You want to
change requests to mysite.com/the_old_url/content/123 to
mysite.com/the_new_url/content/123. How would you do this?
</div>

<p>Create or edit <code>.htaccess</code> file in web root directory. It should contain:</p>
    <pre>RewriteEngine On
RewriteBase /
RewriteRule ^the_old_url/(.*)$ /the_new_url/$1 [L,NC,R=302]
</pre>
