<div class="question">
Suppose that you are the administrator of a webserver that has multiple clients. Client A
should be able to use any setting in .htaccess file that he wants to. However, Client B not
be allowed to limit access to files in his directory either by IP or login. Suppose their
directories are located at /clients/A/ and /clients/B/. How would you accomplish
this?
</div>

<p>In Apache's <code>conf/extra/httpd-userdir.conf</code> we need to make sure that <code>Limit</code> is commented or removed for client B:
    <pre>
    &lt;Directory /home/clients/B&gt;
        AllowOverride FileInfo AuthConfig Limit Indexes
        Options MultiViews Indexes SymLinksIfOwnerMatch IncludesNoExec

        &lt;Limit GET POST OPTIONS&gt;
            Order allow,deny
            Allow from all
        &lt;/Limit&gt;

        &lt;LimitExcept GET POST OPTIONS&gt;
            Order deny,allow
            Deny from all
        &lt;/LimitExcept&gt;
    &lt;/Directory&gt;
</pre>
</p>
<p>We need to comment out the second line and add below: <code>AllowOverride FileInfo AuthConfig Indexes</code>. So it becomes: </p>
<pre>
    &lt;Directory /home/clients/B&gt;
        #AllowOverride FileInfo AuthConfig Limit Indexes
        AllowOverride FileInfo AuthConfig Indexes
        Options MultiViews Indexes SymLinksIfOwnerMatch IncludesNoExec

        &lt;Limit GET POST OPTIONS&gt;
            Order allow,deny
            Allow from all
        &lt;/Limit&gt;

        &lt;LimitExcept GET POST OPTIONS&gt;
            Order deny,allow
            Deny from all
        &lt;/LimitExcept&gt;
    &lt;/Directory&gt;
</pre>