<div class="question">
If you have a Ubuntu 16.04 server which users access via ssh. How would you make sure
that only a specific IP address can ssh into that user?
</div>

<p>In <code>/etc/ssh/sshd_config</code> file add: <code>AllowUsers user1@0.0.0.0 user2@1.1.1.1</code></p>

