<div class="question">
Please provide a regex pattern that captures the scheme, host and port of the following URIs:<br/>
ftp://server_file.fr:21/secret_server/important_plans.pdf<br/>
https://somesite.com/lesson/introduction#section<br/>
file://localhost:8080/some_url<br/>
https://safe-server.com:8888/<br/>
market://find/old%20men
</div>

<p><code>^(.*:)//([A-Za-z0-9\-\.]+)(:[0-9]+)?(.*)$</code></p>

<p>Scheme is in $1, host in $2, port in $3</p>

<a href="https://regex101.com/r/rQcCrD/2" target="_blank">Test here</a>