<div class="question">
Please provide a regex pattern that matches all but the red of the following strings:<br/>
5.14522<br/>
-788.99<br/>
1337<br/>
9.5e11<br/>
321,465.05<br/>
<span style="color: red">1080p</span>
</div>

<p><code>^((?!p).)*$</code></p>

<p><a href="https://regex101.com/r/15lB3J/1" target="_blank">Test here</a></p>