<div class="question">
Suppose you want to automatically run a bash script, ~/my_script.sh, every hour on
Mondays and Fridays. How would you accomplish this?
</div>

<p>I'd use crontab: <code>crontab -e</code>. In there I'd create a new job: <code>0 * * * 1 ~/my_script.sh</code>
for Monday and another one: <code>0 * * * 5 ~/my_script.sh</code> for Friday.</p>