<div class="question">
Suppose you want to create a new user, give it sudo rights, and assign it the ownership of
/srv/myserver, how would you do this?
</div>

<p>Steps:</p>

<ol>
    <li>Login as root</li>
    <li>Create user: <code>adduser user_name</code></li>
    <li>Add him to sudo group: <code>usermod -aG sudo user_name</code></li>
    <li>Assign ownership (recursively): <code>sudo chown user_name -R /srv/myserver</code></li>
</ol>