<div class="question">
Suppose you have a directory on your local computer, ~/mydir, that you want to transfer to
a remote computer via ssh. How would you accomplish this using rsync? How do you make
sure that it doesn’t do something unexpected and damaging by doing a simulated run before
running the transfer?
</div>

<p><code>rsync -a ~/mydir username@host:dir</code> where <code>dir</code> is a destination</p>
<p>To do a simulated run we use <code>--dry-run</code> like this: <code>rsync --dry-run -a ~/mydir username@host:dir</code></p>