<div class="question">
Using shell tools and pipes, output all installed packages that begins with ‘fi’, retain only the
names of the apps, not the versions.
</div>

<p><code>sudo apt list --installed | grep '^fi' | awk '{print $1}'</code></p>