<div class="question">
Write a function that inputs a list and removes any empty lists inside it, then returns the result.
It should also remove any nested empty lists.
</div>

<p>
    Steps:<br/>
    <ol>
        <li>Using <code>filter()</code> get rid of empty lists at the current level.</li>
        <li>Iterate through each element at the current level</li>
        <li>If the element is a list and not empty recursively call the <code>clean_up()</code> function passing the element as a parameter</li>
    </ol>
</p>

<pre><code class="python">dirty_list = [1, 2, 3, [[], 4, 5, [], [6, 7, []]], [], 8, [[[]], [], 9, 10]]

def clean_up(input_list):
    return list(filter(None, map(lambda x: clean_up(x) if isinstance(x, list) else x, input_list)))

print(clean_up(dirty_list))
</code></pre>

<p>Outputs:<br/>
<pre><code>[1, 2, 3, [4, 5, [6, 7]], 8, [9, 10]]</code></pre>
</p>

<p>
    <a href="http://pythonfiddle.com/list-cleaning-script/" target="_blank" class="btn btn-primary"><span class="ion-code-working"></span> View in Fiddle</a>
</p>

<p>
    <a href="https://bitbucket.org/timohus/codechallenge/src/abc9858466499d044557f6305afeca51e24cfa95/item1/?at=master" target="_blank">Source Code</a>
</p>