<div class="question">
Generate the integers from 1 to 10 in a list. Square all the even numbers. Do this using a list
comprehension.
</div>

<pre><code class="python">numbers = [x**2 if x % 2 == 0 else x for x in range(1, 11)]

print(numbers)
</code></pre>

<p>
    Outputs:<br/><pre><code>[1, 4, 3, 16, 5, 36, 7, 64, 9, 100]</code></pre>
</p>

<p>
    <a href="http://pythonfiddle.com/square-even" target="_blank" class="btn btn-primary"><span class="ion-code-working"></span> View in Fiddle</a>
</p>

<p>
    <a href="https://bitbucket.org/timohus/codechallenge/src/abc9858466499d044557f6305afeca51e24cfa95/item3/?at=master" target="_blank">Source Code</a>
</p>