{% load static %}
<div class="question">
Using pandas​, write a function that inputs a data frame and a column name, and outputs a
new data frame where all rows with a duplicate value in the named column has been
removed. Show that it works.
</div>

<p>I'm using pandas' <code>drop_duplicates()</code> to clean up the dataframe. For <code>keep</code> parameter's value I'm using
<code>'first'</code> to remove all the rows with duplicated entries in a specified column but keep the first one.</p>

<pre><code class="python">import numpy as np
import pandas as pd

ROWS = 10  # number of rows to be generated in dataframe

data_frame = pd.DataFrame({
    'A': np.random.choice(['John', 'Mike', 'Sam'], 10),
    'B': np.random.normal(0, 10, ROWS),
    'C': np.random.uniform(0, 10, ROWS),
    'D': np.random.normal(100, 15, ROWS)
}, dtype='int64')


def remove_duplicates(df, column):
    return df.drop_duplicates(subset=column, keep='first', inplace=False)


# Print out original dataframe with duplicates
print('\n Dirty:')
print(data_frame)


# Print out cleaned up dataframe
print('\n Cleaned:')
print(remove_duplicates(data_frame, 'A'))
</code></pre>

<p>Screenshot <i class="text-muted">(PythonFiddle does not allow to import numpy and pandas)</i>:</p>
<p><img class="img-responsive" src="{% static 'images/item4.png' %}" alt=""/></p>

<p>
    <a href="https://bitbucket.org/timohus/codechallenge/src/abc9858466499d044557f6305afeca51e24cfa95/item4/?at=master" target="_blank">Source Code</a>
</p>