{% load static %}
<div class="question">
In Django, implement a catch-all URL pattern with a corresponding view. It should give the
user an informative message when he tried to access a URL that doesn’t exist.
</div>

<p>
    <a href="http://item5.timohus.com" class="btn btn-success" target="_blank">Open Live Demo <span class="ion-forward"></span></a>
</p>

<p>The <code>urls.py</code> contents:</p>

<pre><code class="python">from django.conf.urls import url

from main import views

urlpatterns = [
    url(r'^$', views.index, name='index'),
    url(r'^about', views.about, name='about'),
    url(r'^contact', views.contact, name='contact'),
    url(r'^', views.no_such_page),  # Catch-all url. Fires when nothing from above was a match
]
</code></pre>

<p>The <code>views.py</code> contents:</p>

<pre><code class="python">from django.shortcuts import render


def index(request):
    message = None
    return render(request, 'index.html', {'message': message})


def about(request):
    return render(request, 'about.html')


def contact(request):
    return render(request, 'contact.html')


# The view for non-existent page requests
def no_such_page(request):
    return render(request, 'no_such_page.html')
</code></pre>

<p>Screenshots:</p>

<p><i>Valid page request</i></p>
<p><img class="img-responsive" src="{% static 'images/item5-1.png' %}" alt="" /></p>

<p><i>Non-existent page has been requested</i></p>
<p><img class="img-responsive" src="{% static 'images/item5-2.png' %}" alt="" /></p>

<p>
    <a href="https://bitbucket.org/timohus/codechallenge/src/abc9858466499d044557f6305afeca51e24cfa95/item5/?at=master" target="_blank">Source Code</a>
</p>

