<div class="question">
Make a function called fail_with() that takes a function as input and returns a new
function. The new function should do the same as the old except that if it encounters an error,
it returns a specified default value instead of throwing the error.
</div>

<p>The <code>variation_prices</code> holds a product's variation color code and a corresponding price.
    To retrieve a single variation from this list, we'll use <code>variation_prices[variation]</code>. Normally,
    if the variation code passed here does not exist, python throws an error.</p>

<p>The <code>fail_with()</code> will silence it and return a default price instead, by implementing <code>try ... except ...</code>.</p>

<pre><code class="python">variation_prices = {
    'orange': 12.0,
    'green': 16.0,
    'blue': 17.0
}

default = 10.0


def get_variation_price(variation):
    return variation_prices[variation]


def fail_with(func):
    def get_price(city):
        try:
            return func(city)
        except:
            return default
    return get_price

search_price = fail_with(get_variation_price)


print(search_price('green'))
print(search_price('white'))  # white does not exist

</code></pre>

<p>Outputs:<br/>
    <pre><code>16.0
10.0</code>
</pre>
</p>

<p>
    <a href="http://pythonfiddle.com/fail-with-func/" target="_blank" class="btn btn-primary"><span class="ion-code-working"></span> View in Fiddle</a>
</p>

<p>
    <a href="https://bitbucket.org/timohus/codechallenge/src/abc9858466499d044557f6305afeca51e24cfa95/item6/?at=master" target="_blank">Source Code</a>
</p>