{% load static %}
<div class="question">
Suppose you are making a Django website for a top n list of books site. The person running
the website wants to be able to create top lists of variable length and select which books
belong to them. However, it is important that he is able to specify the order of the books in
each list as well as write a brief text explaining why it was included and given that spot. Write
the models to accomplish this.
</div>

<p>
    <a href="http://item7.timohus.com" class="btn btn-success" target="_blank">Open Live Demo <span class="ion-forward"></span></a>
    <span style="margin-left: 20px;">To add books and lists, got to <a href="http://item7.timohus.com/admin" target="_blank">admin panel</a>. Username: <code>admin</code>, password: <code>adminpassword</code>.</span>
</p>

<p>There are three models:
<ol>
    <li><code>Book</code> holds information about the book: title, author, isbn number.</li>
    <li><code>List</code> has fields for a list name and a Many-to-Many relationship with <code>Book</code> model through the third model <code>BookList</code></li>
    <li><code>BookList</code> is an intermediate model that ties up <code>Book</code> and <code>List</code> models, and also provides additional
        fields: order and comment. I'm using <code>ordering = ['order']</code> in <code>Meta</code> class for this model to enable default ordering by
        <code>order</code> field's value</li>
</ol>
</p>

<p>
    The <code>models.py</code> looks like this:
</p>

<pre><code class="python">from django.db import models


class Book(models.Model):
    title = models.CharField(max_length=255)
    author = models.CharField(max_length=255)
    isbn = models.CharField(max_length=255)

    class Meta:
        db_table = 'book'

    def __str__(self):
        return self.title


class List(models.Model):
    name = models.CharField(max_length=255)
    books = models.ManyToManyField(Book, through='BookList')

    class Meta:
        db_table = 'list'

    def __str__(self):
        return self.name


class BookList(models.Model):
    book = models.ForeignKey(Book, on_delete=models.CASCADE)
    list = models.ForeignKey(List, on_delete=models.CASCADE)
    order = models.IntegerField(default=1)
    comment = models.TextField()

    class Meta:
        db_table = 'book_list'
        ordering = ['order']

    def __str__(self):
        return self.book.title + ' in ' + self.list.name
</code></pre>

<p>Screenshot:</p>

<p><img class="img-responsive" src="{% static 'images/item7.png' %}" alt="" /></p>

<p>
    <a href="https://bitbucket.org/timohus/codechallenge/src/abc9858466499d044557f6305afeca51e24cfa95/item7/?at=master" target="_blank">Source Code</a>
</p>

