{% load static %}
<div class="question">
With Django, write a view that returns the current date of the user’s timezone as well as the
server’s timezone. Make sure they are different. Calculate the difference and display it.
</div>

<p>
    <a href="http://item8.timohus.com" class="btn btn-success" target="_blank">Open Live Demo <span class="ion-forward"></span></a>
</p>

<p>Steps:</p>

<ol>
    <li>To tell Django in which time zone a client currently is, we need to retrieve this data on the client side and send it via ajax to some view.
    I'm using <a href="https://github.com/iansinnott/jstz" target="_blank">jstz</a> library to retrieve a time zone in client's browser.</li>
    <li>We send ajax request with time zone value to the view as a POST parameter.</li>
    <li>The view receives time zone value and sets three variables:
        <ul>
            <li><code>client_time</code>. We use here a retrieved time zone value.</li>
            <li><code>server_time</code>. Current server's time.</li>
            <li><code>diff</code>. The time in previous two variables is the same (but it has a different time zone setting), so we
            can't just subtract one from the other. Instead we are using <code>utcoffset()</code> for each of the two variables, and we do the
            subtraction then.</li>
        </ul>
    </li>
    <li>
        We now format each variable to a desired format and return them in a JSON response.
    </li>
</ol>

<p><i>Another approach is to use third party API to determine user's time zone. For example this one: <a href="http://freegeoip.net/json" target="_blank">http://freegeoip.net/json</a>.
Though it was interesting to do it using ajax request, so I went for that one :)</i></p>

<p>The <code>views.py</code> will look like this:</p>

<pre><code class="python">from django.conf import settings
from django.http import JsonResponse
from django.shortcuts import render
import datetime
import pytz


def index(request):
    return render(request, 'index.html')


def get_time(request):
    response = {}
    if request.POST.get('tz'):

        client_time = datetime.datetime.now(pytz.timezone(request.POST.get('tz')))
        server_time = datetime.datetime.now(pytz.timezone(settings.TIME_ZONE))
        diff = (server_time.utcoffset() - client_time.utcoffset())

        response['client_time'] = client_time.strftime("%A %d. %B %Y. %I:%M:%S. %Z")
        response['server_time'] = server_time.strftime("%A %d. %B %Y. %I:%M:%S. %Z")
        response['difference'] = str(diff.seconds//3600) + 'h'

    return JsonResponse(response)
</code></pre>

<p>In <code>index.html</code> there's a table that displays data.</p>

<pre><code class="html">&lt;table class="table"&gt;
    &lt;tr&gt;
        &lt;th&gt;Your time:&lt;/th&gt;
        &lt;td id="client_time"&gt;Loading...&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;th&gt;Server's time:&lt;/th&gt;
        &lt;td id="server_time"&gt;Loading...&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;th&gt;Difference:&lt;/th&gt;
        &lt;td id="difference"&gt;Loading...&lt;/td&gt;
    &lt;/tr&gt;
&lt;/table&gt;
</code></pre>

<p>Here's the javascript in <code>index.html</code> template that send ajax request to get date info.
    Upon receiving JSON object from server, it populates table's <code>td</code>s with corresponding values.</p>

{% verbatim %}
<pre><code class="javascript">var tz = jstz.determine();
$.ajax({
    url: '{% url 'get_time' %}',
    data: {tz: tz.name()},
    type: 'post',
    success: function(data){
        $('#client_time').text(data.client_time);
        $('#server_time').text(data.server_time);
        $('#difference').text(data.difference);
    },
    beforeSend: function(xhr, settings) {
        xhr.setRequestHeader("X-CSRFToken", Cookies.get('csrftoken'));
    }
});
</code></pre>
{% endverbatim %}

<p>Screenshot:</p>
<p><img src="{% static 'images/item8.png' %}" alt="" class="img-responsive" /></p>

<p>
    <a href="https://bitbucket.org/timohus/codechallenge/src/abc9858466499d044557f6305afeca51e24cfa95/item8/?at=master" target="_blank">Source Code</a>
</p>