{% extends 'layout.html' %}

{% block content %}

    <section>
        <h3 id="group1">1. Python, Django</h3>
        {% for i in '12345678' %}
            <div class="item">
                <h4 id="group1-item{{ i }}">1.{{ i }}. Item{{ i }}</h4>
                {% with template='sections/1/'|add:i|add:".html" %}
                    {% include ""|add:template %}
                {% endwith %}
            </div>
        {% endfor %}
    </section>



    <section>
        <h3 id="group2">2. Apache, MySQL, etc.</h3>
        {% for i in '12345' %}
            <div class="item">
                <h4 id="group2-item{{ i }}">2.{{ i }}. Item{{ i }}</h4>
                {% with template='sections/2/'|add:i|add:".html" %}
                    {% include ""|add:template %}
                {% endwith %}
            </div>
        {% endfor %}
    </section>



    <section>
        <h3 id="group3">3. Linux, Bash, misc</h3>
        {% for i in '1234567' %}
            <div class="item">
                <h4 id="group3-item{{ i }}">3.{{ i }}. Item{{ i }}</h4>
                {% with template='sections/3/'|add:i|add:".html" %}
                    {% include ""|add:template %}
                {% endwith %}
            </div>
        {% endfor %}
    </section>

    <h2>Thank you! :)</h2>


{% endblock %}