{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/agate.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
</head>
<body data-spy="scroll" data-target=".scrollspy">

    <div class="wrap container">

        <nav id="side-nav" class="scrollspy">
            <ul class="nav">
                <li class="active">
                    <a href="#group1">1. Python, Django</a>
                    <ul class="nav">
                        {% for i in '12345678' %}
                            <li><a href="#group1-item{{ i }}">1.{{ i }}. Item{{ i }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <a href="#group2">2. Apache, MySQL, etc.</a>
                    <ul class="nav">
                        {% for i in '12345' %}
                            <li><a href="#group2-item{{ i }}">2.{{ i }}. Item{{ i }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <a href="#group3">3. Linux, Bash, misc</a>
                    <ul class="nav">
                        {% for i in '1234567' %}
                            <li><a href="#group3-item{{ i }}">3.{{ i }}. Item{{ i }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </nav>

        <div class="heading">
            <h2>Coding​ ​ability​ ​tests</h2>
            <h1>Artem Samoilenko</h1>
            <div class="text-muted" style="margin-top: 20px;">
                <p>
                    +1 929 340 5975 |
                    <a href="mailto:tim.samoilenko@gmail.com">tim.samoilenko@gmail.com</a> |
                    <a href="{% static 'artem_samoilenko_resume.pdf' %}" target="_blank">View my resume <span class="ion-forward"></span></a>
                </p>
                <p>This website runs on Linux (Ubuntu 16), Apache 2, Python 3, Django 1.11. The source code of this website <a href="https://bitbucket.org/timohus/codetest/src" target="_blank">is here</a></p>
            </div>
            <hr/>
            <p>The code from section "1. Python, Django" is located in <a href="https://bitbucket.org/timohus/codechallenge/src" target="_blank">this repository</a>.</p>
            <hr/>
        </div>

        {% block content %}{% endblock %}

    </div>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="{% static 'js/highlightjs-line-numbers.min.js' %}"></script>
    <script>hljs.initHighlightingOnLoad(); hljs.initLineNumbersOnLoad();</script>

    <script>
        $('#side-nav > .nav').affix({
          offset: {
            top: 40,
            bottom: 40
          }
        });
    </script>
</body>
</html>